#app {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: space-around;
  cursor: auto;
}

/* .mainContainer {
  display: flex;
} */

#title {
  font-family: 'Readex Pro', sans-serif;
  font-size: 64px;
  display: flex;
  flex-direction: row;
}

.centerContainer {
  display: flex;
}

#reportHeader {
  font-family: 'Readex Pro', sans-serif;
  font-size: 30px;
}

.createReport {
  display: inline-flex;
  flex: 2;
  flex-direction: column;
  margin: 10px;
}

.report {

}

.reportForm {
  font-family: 'Readex Pro', sans-serif;
  font-size: 15px;
  line-height: 25px;
}

#mandatory {
  font-family: 'Readex Pro', sans-serif;
  font-size: 15px;
  color: red;
}

.archive {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  margin-left: 25px;
  font-family: 'Readex Pro', sans-serif;
  font-size: 15px;
}

.archiveTitle {
  font-family: 'Readex Pro', sans-serif;
  font-size: 30px;
}

.inProgressHeader {
  font-family: 'Readex Pro', sans-serif;
  font-size: 24px;
}

.finishedHeader {
  font-family: 'Readex Pro', sans-serif;
  font-size: 24px;
}

.finishedItems:hover {
  color: orange;
  cursor: crosshair;
}