#app {
  /* display: flex;
  flex-direction: column; */
  /* padding: 10px; */
  padding: 0.625rem;
  justify-content: space-around;
  cursor: auto;
  background-color: bisque;
  height: 1000px;
}

body {
  margin:0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

#title {
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 64px; */
  /* font-size: 400%; */
  font-size: min(10vw, 64px);
  display: flex;
  /* position: relative; */
  flex-direction: row;
  flex-shrink: 1;
  align-items: center;
  align-content: center;
  /* margin-bottom: 5px; */
  margin-bottom: 0.3125rem;
}

.centerContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 249, 241);
  /* padding: 10px; */
  padding: 0.625rem;
  border-style: double;
}

#createReportContainer {
  display: flex;
  flex-direction: column;
}

#reportHeader {
  display: flex;
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 30px; */
  /* font-size: 1.875rem; */
  font-size: min(5vw, 30px);
  flex-shrink: 1;
}

.createReport {
  display: inline-flex;
  flex: 2;
  flex-shrink: 1;
  flex-direction: column;
  /* margin: 10px; */
  margin: 0.625rem;
}

.reportForm {
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 15px; */
  font-size: 0.9375rem;
  /* line-height: 25px; */
  line-height: 1.5625rem;
}

.reportFormBtn {
  /* height: 25px; */
  /* width: 200px; */
  height: 1.5625rem;
  width: 12.5rem;
  background-color: rgb(255, 197, 126);
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 15px; */
  font-size: 0.9375rem;
}

#mandatory {
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 15px; */
  font-size: 0.9375rem;
  color: red;
}

.archive {
  display: inline-flex;
  flex: 1;
  flex-shrink: 1;
  flex-direction: column;
  /* margin-left: 25px; */
  margin-left: 1.5625rem;
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 15px; */
  font-size: 0.9375rem;
  /* width: 400px; */
  width: 25rem;
}

.archiveTitle {
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 30px; */
  font-size: min(5vw, 30px);
}

.inProgressHeader {
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 24px; */
  font-size: 1.875rem;
}

.finishedHeader {
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 24px; */
  font-size: 1.5rem;
}

.finishedItems:hover {
  color: orange;
  cursor: crosshair;
}

li {
  list-style: none;
}

.listTitle {
  font-weight: bold;
  color: rgb(199, 96, 48);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .05rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: .25rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out;
}

.dropdown > .finishedItems:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}
/*
.expandable {
  overflow-y: hidden;
  overflow-x: hidden;
  line-height: 25px;
  transition: all .5s ease-in-out;
  height: 0;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  /* padding: 5px;
}   */

/* .expandable:target {
  height: auto;
  width: 400px;
}  */

.resetBtn {
  /* height: 25px;
  width: 200px; */
  height: 1.5625rem;
  width: 12.5rem;
  background-color: rgb(255, 197, 126);
  font-family: 'Readex Pro', sans-serif;
  /* font-size: 15px; */
  font-size: 0.9375rem;
}